<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Colleges</title>
</head>
<body>
    <table border="2px solid black">
        {% for college in colleges %}
            <tr>
                <td><a href="http://127.0.0.1:8000/online/get_student_details/{%college.id%}">{{college.acronym}}</a></td>
                <td>{{college.name}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>