<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
    <table border="2px solid black">
        {% for student in students %}
            <tr>
                <td>student.id</td>
                <td>student.name</td>
            </tr>
    </table>
</body>
</html>